* { margin: 0; padding: 0 }

html, body { height: 100%; }

body {
   background: url('bg.png') repeat scroll 0 0 transparent;
}

#wrapper {
   width: 100%;
   height: 100%;
   display: table;
   vertical-align: middle;
   min-height: 100%;
   height: auto !important;
   margin: 0 auto -4em;
}

#outer {
   display: table-cell;
   vertical-align: middle;
}

#intro {
   font: bold 50px 'Wire One', sans-serif;
   text-align: center;
}

.footer, .push {
   font: bold 20px 'Wire One', sans-serif;
   text-align: center;
   height: 4em;
}

header {
   width: 200px;
   height: 160px;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   background-image: -webkit-gradient(radial, 105 80, 0, center center, 120, from(#ffffff), to(#85C2FF));
   background-image: -moz-radial-gradient(center 45deg, circle closest-corner, #ffffff 0%, #85C2FF 100%);
   background-image:  -ms-radial-gradient(center 45deg, circle closest-corner, #ffffff 0%, #85C2FF 100%);
   background-image:   -o-radial-gradient(50% 50%, 100% 50%, #ffffff, #85C2FF);
   
   -webkit-border-radius: 100px / 250px;
      -moz-border-radius: 100px / 250px;
           border-radius: 100px / 250px;
                
   -webkit-box-shadow: 0 25px 40px #CCC;            
      -moz-box-shadow: 0 25px 40px #CCC;
           box-shadow: 0 25px 40px #CCC;
         
   -webkit-animation: box 3s 2.8s 1; 
      -moz-animation: box 3s 2.8s 1; 
}

@-webkit-keyframes box {
   0%   { -webkit-transform: rotate(0deg); }  
   100% { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes box {
   0%   { -moz-transform: rotate(0deg); }
   100% { -moz-transform: rotate(-360deg); }
}

h1 {
   font: bold 40px 'Wire One', sans-serif;
   margin-top: 34px;
   
   -webkit-animation: intro 6.8s ease-in-out;
      -moz-animation: intro 6.8s ease-in-out;
} 

#letter1 {
   -webkit-animation: intro-color 3s ease-in 1;
      -moz-animation: intro-color 3s ease-in 1;
}

#letter2 {
   -webkit-animation: intro-color 3.4s ease-in 1;
      -moz-animation: intro-color 3.4s ease-in 1;
}

#letter3 {
   -webkit-animation: intro-color 3.8s ease-in 1;
      -moz-animation: intro-color 3.8s ease-in 1;
}

#letter4 {
   -webkit-animation: intro-color 4.2s ease-in 1;
      -moz-animation: intro-color 4.2s ease-in 1;
}

#letter5 {
   -webkit-animation: intro-color 4.6s ease-in 1;
      -moz-animation: intro-color 4.6s ease-in 1;
}

#letter6 {
   -webkit-animation: intro-color 5s ease-in 1;
      -moz-animation: intro-color 5s ease-in 1;
}

#letter7 {
   -webkit-animation: intro-color 5.4s ease-in 1;
      -moz-animation: intro-color 5.4s ease-in 1;
}

#letter8 {
   -webkit-animation: intro-color 5.8s ease-in 1;
      -moz-animation: intro-color 5.8s ease-in 1;
}

#letter9 {
   -webkit-animation: intro-color 6.2s ease-in 1;
      -moz-animation: intro-color 6.2s ease-in 1;
}

#letter10 {
   -webkit-animation: intro-color 6.6s ease-in 1;
      -moz-animation: intro-color 6.6s ease-in 1;
}

#letter11 {
   -webkit-animation: intro-color 7s ease-in 1;
      -moz-animation: intro-color 7s ease-in 1;
}

#letter12 {
   -webkit-animation: intro-color 7.4s ease-in 1;
      -moz-animation: intro-color 7.4s ease-in 1;
}

#letter13 {
   -webkit-animation: intro-color 7.8s ease-in 1;
      -moz-animation: intro-color 7.8s ease-in 1;
}

@-webkit-keyframes intro-color {
   0%   { color: blue;  opacity: 0; }
   100% { color: black; opacity: 1; }
}

@-moz-keyframes intro-color {
   0%   { color: blue;  opacity: 0; }
   100% { color: black; opacity: 1; }
}

#letter1-1 {
   -webkit-animation: intro 0.5s ease-in 1;
      -moz-animation: intro 0.5s ease-in 1;
}

#letter2-2 {
   -webkit-animation: intro 0.7s ease-in 1;
      -moz-animation: intro 0.7s ease-in 1;
}

#letter3-3 {
   -webkit-animation: intro 0.9s ease-in 1;
      -moz-animation: intro 0.9s ease-in 1;
}

#letter4-4 {
   -webkit-animation: intro 1.1s ease-in 1;
      -moz-animation: intro 1.1s ease-in 1;
}

#letter5-5 {
   -webkit-animation: intro 1.3s ease-in 1;
      -moz-animation: intro 1.3s ease-in 1;
}

#letter6-6 {
   -webkit-animation: intro 1.5s ease-in 1;
      -moz-animation: intro 1.5s ease-in 1;
}

#letter7-7 {
   -webkit-animation: intro 1.7s ease-in 1;
      -moz-animation: intro 1.7s ease-in 1;
}

#letter8-8 {
   -webkit-animation: intro 1.9s ease-in 1;
      -moz-animation: intro 1.9s ease-in 1;
}

#letter9-9 {
   -webkit-animation: intro 2.1s ease-in 1;
      -moz-animation: intro 2.1s ease-in 1;
}

#letter10-10 {
   -webkit-animation: intro 2.3s ease-in 1;
      -moz-animation: intro 2.3s ease-in 1;
}

#letter11-11 {
   -webkit-animation: intro 2.5s ease-in 1;
      -moz-animation: intro 2.5s ease-in 1;
}

#letter12-12 {
   -webkit-animation: intro 2.7s ease-in 1;
      -moz-animation: intro 2.7s ease-in 1;
}

#letter13-13 {
   -webkit-animation: intro 2.9s ease-in 1;
      -moz-animation: intro 2.9s ease-in 1;
}

@-webkit-keyframes intro {
   0%, 75% { opacity: 0; }
   100%    { opacity: 1; }
}

@-moz-keyframes intro {
   0%, 75% { opacity: 0; }
   100%    { opacity: 1; }
}